<div class="flex flex-col gap-4 w-full p-2">
  <label for="keyboard-input" class="text-lg font-medium text-gray-700">
    Brincos escaneados:
  </label>

  <textarea
    #textarea
    id="keyboard-input"
    [ngModel]="inputValue"
    rows="5"
    readonly
    class="w-full h-96 px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 resize-y"
  >
  </textarea>
  <p class="text-sm text-gray-600">
    Pressione as teclas para adicionar brincos à lista. Pressione Enter para
    nova linha.
  </p>
</div>
